.w-px{
     width: 120px;
     height: 120px;
   }
   .w-pc{
     width: 320px;
     height: 320px;
   }
   .shadowRgb{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   a{
    text-decoration-line: none !important;
    color: black !important;
   }