@{
    ViewData["Title"] = "About us";
}
@section Styles
{
  <link rel="stylesheet" href="~/css/Styles/AboutUsStyle.css">
}
         <!--Start Body-->
         <main class=" container">
         <div class=" text-center  rounded-5" style="background-color: #eee;">
           <div id="paragraphGame_Buttons" class="pt-5">
             <h1 class="text-center fs-1 fw-bolder text-shadow">
               We're changing the <br>
               whole game
              </h1>
              <div class="mt-5 d-flex flex-row justify-content-center">
                <a href="" class="btn btn-dark rounded-pill shadow m-3 p-3 px-5">Get Start </a>
                <a href="" class="btn btn-outline-dark rounded-pill shadow m-3 p-3 px-5">View Pricing </a>
              </div>
            </div>
            <img src="~/Images/about-us-image.jpg" class="w-100 rounded-5">

         </div>
        <div class="d-flex flex-column flex-md-row justify-content-around col-12  mt-5 p-5">
  <div id="definishen" class="col-10 col-md-5 d-flex flex-column">
    <div class="position-relative">
      <h2 class="fw-bold text-capitalize" style="color: rgb(140, 255, 0);">OUR STORY </h2>
      <p class="fw-bolder text-wrap fs-1">
        We're building the economic
        infratructure for the internet.
        Businesses of every size.
      </p>
      <span class="p-3 top-50 rounded-circle position-absolute opacity-25" style="background-color: rgb(255, 0, 43);"></span>
    </div>
    
    <div class="d-flex flex-row mt-2 position-relative">
      <img src="~/Images/icecream.png" alt="" width="115px" height="115px">
      <p class="text-wrap mt-4 pe-1 fs-4">
        A living place for curiosoty and 
        collabioration, meeting and meaning.
        the heart of a creative community.
      </p>
      <span class="p-2 top-50 start-50 rounded-circle position-absolute opacity-25" style="background-color: rgb(255, 0, 43);"></span>
      <span class="p-4 top-50 start-0 rounded-circle position-absolute opacity-25" style="background-color: rgb(183, 255, 0);"></span>
      <span class="p-5 top-100 end-0  rounded-circle position-absolute opacity-25" style="background-color: rgb(86, 67, 181);"></span>
    </div>
   </div>
   <div class="col-10 col-md-5 mt-5">
    <ol>
      <li class="mb-5">
        <p class="fw-bolder">
           01. 6 years of instanse research <br>
           <small class="text-muted text-wrap">
            Our founders had a solution. this your Email marketing specialist,
            newsletter service, and camping manager,all rolled into one.
          </small>
          </p>
      </li>
      <li class="my-5">
       <p class="fw-bolder">
         02. Audience segmentation <br>
         <small class="text-muted text-wrap">
          Improve audience engagement by segmenting.Boost your conversions
          by targeting subsets from your contacts.give them content they need.
        </small>
        </p>
     
      </li>
      <li class="my-5">
        <p class="fw-bolder">
          03. Cantact monitoring <br>
          <small class="text-muted text-wrap">
            Just improt your contact list, segment your contacts and we'll get you a 
            detailed real-time report of their activy.
          </small>
        </p>
      
      </li>
    </ol>
   </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-evenly p-5">
              <div class="d-flex flex-column align-self-center col-9 col-md-4">
                  <div>
                    <h2 class="fw-bolder fs-1">Our Mission</h2>
                    <p class="text-wrap">
                      We're building the economic infrastrucure for the internet.
                      Businesses of every size, be it new startups or public compaines,
                      use our software to accept
                      payments and manage their businesses online.
                    </p>
                  </div>
                    <div class="d-flex flex-column flex-md-row justify-content-evenly">
                      <div class="text-center position-relative">
                        <span class="p-3 top-50 rounded-circle position-absolute opacity-25" style="background-color: chartreuse;"></span>
                        <p class="fs-3  fw-bolder">94%</p>
                        <small class="fw-bold text-muted">CLIENT RETENTION</small>
                      </div>
                      <div class="text-center position-relative">
                        <span class="p-3 top-50 rounded-circle position-absolute opacity-25" style="background-color: rgb(255, 225, 0);"></span>
                        <p class="fs-3  fw-bolder">70M+</p>
                        <small class="fw-bold text-muted">EMAIS PER MONTH</small>
                      </div>
                      <div class="text-center position-relative">
                        <span class="p-3 top-50 rounded-circle position-absolute opacity-25" style="background-color: rgb(255, 0, 123);"></span>
                        <p class="fs-3 fw-bolder">10K+</p>
                        <small class="fw-bold text-muted">MONTHLY CAMPAIGNS</small>
                      </div>
                    </div>
              </div>
            <div class="col-12 col-md-6">
    <img src="~/Images/ivar.png" alt=""class="rounded-5 img-fluid">
            </div>
        </div>

        <div class="d-flex flex-column-reverse flex-md-row justify-content-evenly p-5">
            <div class="col-12 col-md-6">
    <img src="~/Images/ragnar-lothbrok.jpg" alt="" class="rounded-5 img-fluid" >
            </div>
              <div class="d-flex flex-column align-self-center position-relative col-9 col-md-5 container">
                <h2 class="fs-1 fw-bolder">Our Vision</h2>
               <p class="fs-4 text-wrap">
                We belive the  world will look very different after 
                this pandemic, as it did after the second world war 
                and the financial crisis of 2008. As it always does,
                after it has faced destruction.
               </p>
               <span class="p-5 top-100 end-50 rounded-circle position-absolute opacity-25" style="background-color: rgb(66, 143, 210);"></span>
               <span class="p-2 top-50 start-0 rounded-circle position-absolute opacity-25" style="background-color: rgb(255, 0, 43);"></span>
               <span class="p-5 bottom-100 start-50 rounded-circle position-absolute opacity-25" style="background-color: rgb(217, 0, 255);"></span>
             
               <p class="fs-4 text-wrap">
                We foresee agigantic acceleration towards
                digitalization in all businesses. Businesses need 
                  vet parners, hols money in escrow.
               </p>
               <span class="p-2 bottom-50 start-50 rounded-circle position-absolute opacity-25" style="background-color: rgb(149, 106, 156);"></span>
               <span class="p-3 bottom-100 end-0 rounded-circle position-absolute opacity-25" style="background-color: rgb(255, 106, 0);"></span>
              </div>
        </div>

        <div class="d-flex flex-column">
            <div class="text-center position-relative">
              <h3 class="fs-1 fw-bolder">
                  Our Leading, Strong <br>
                  And Creative Team
                </h3>
   <span class="p-3 bottom-50 start-0 rounded-circle position-absolute opacity-25" style="background-color: rgb(0, 255, 191);"></span>
   <span class="p-5 bottom-0 end-0 rounded-circle position-absolute opacity-25" style="background-color: rgb(168, 38, 114);"></span>
              </div>
              <div class=" d-flex flex-column flex-md-row justify-content-evenly my-5  ">
    <div class="card col-12 col-md-3 mb-2 mb-md-0 rounded-4 shadow">
      <img src="~/Images/about-us-image.jpg" class="card-img-top p-2 rounded-5" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Hossein Molaei</h5>
        <p class="card-text text-center">Developer</p>
        <p class="card-text d-flex flex-row justify-content-evenly">
          <a href="" class="border rounded-3 p-1 text-black"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
         <a href="" class="border rounded-3 p-1 text-black"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="" class="border rounded-3 p-1 text-black"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="" class="border rounded-3 p-1 text-black"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>
    <div class="card col-12 col-md-3 mb-2 mb-md-0 rounded-4 shadow">
      <img src="~/Images/about-us-image.jpg" class="card-img-top p-2 rounded-5" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Hossein Molaei</h5>
        <p class="card-text text-center">Developer</p>
        <p class="card-text d-flex flex-row justify-content-evenly">
          <a href="" class="border rounded-3 p-1 text-black"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
         <a href="" class="border rounded-3 p-1 text-black"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="" class="border rounded-3 p-1 text-black"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="" class="border rounded-3 p-1 text-black"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>
    <div class="card col-12 col-md-3 mb-2 mb-md-0 rounded-4 shadow">
      <img src="~/Images/about-us-image.jpg" class="card-img-top p-2 rounded-5" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Hossein Molaei</h5>
        <p class="card-text text-center">Developer</p>
        <p class="card-text d-flex flex-row justify-content-evenly">
          <a href="" class="border rounded-3 p-1 text-black"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
         <a href="" class="border rounded-3 p-1 text-black"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="" class="border rounded-3 p-1 text-black"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="" class="border rounded-3 p-1 text-black"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>
              </div>
              <div class=" d-flex flex-column flex-md-row justify-content-evenly ">
    <div class="card col-12 col-md-3 mb-2 mb-md-0 rounded-4 shadow">
      <img src="~/Images/about-us-image.jpg" class="card-img-top p-2 rounded-5" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Hossein Molaei</h5>
        <p class="card-text text-center">Developer</p>
        <p class="card-text d-flex flex-row justify-content-evenly">
          <a href="" class="border rounded-3 p-1 text-black"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
         <a href="" class="border rounded-3 p-1 text-black"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="" class="border rounded-3 p-1 text-black"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="" class="border rounded-3 p-1 text-black"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>
    <div class="card col-12 col-md-3 mb-2 mb-md-0 rounded-4 shadow">
      <img src="~/Images/about-us-image.jpg" class="card-img-top p-2 rounded-5" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Hossein Molaei</h5>
        <p class="card-text text-center">Developer</p>
        <p class="card-text d-flex flex-row justify-content-evenly">
          <a href="" class="border rounded-3 p-1 text-black"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
         <a href="" class="border rounded-3 p-1 text-black"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="" class="border rounded-3 p-1 text-black"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="" class="border rounded-3 p-1 text-black"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>
    <div class="card col-12 col-md-3 mb-2 mb-md-0 rounded-4 shadow">
      <img src="~/Images/about-us-image.jpg" class="card-img-top p-2 rounded-5" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Hossein Molaei</h5>
        <p class="card-text text-center">Developer</p>
        <p class="card-text d-flex flex-row justify-content-evenly">
          <a href="" class="border rounded-3 p-1 text-black"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
         <a href="" class="border rounded-3 p-1 text-black"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="" class="border rounded-3 p-1 text-black"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="" class="border rounded-3 p-1 text-black"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>
              </div>
              <div class="d-flex flex-row justify-content-center my-3">
                <a href="" class="btn btn-outline-dark rounded-5 shadow"> View All</a>
              </div>
        </div>
         </main>
         <div class="my-5 position-relative container">
          <span class="p-5 top-50 end-0 rounded-circle position-absolute opacity-25" style="background-color: rgb(66, 143, 210);"></span>
   <span class="p-2 top-50 start-50 rounded-circle position-absolute opacity-25" style="background-color: rgb(255, 0, 43);"></span>
   <span class="p-5 bottom-50 start-50 rounded-circle position-absolute opacity-25" style="background-color: rgb(217, 0, 255);"></span>
          <p class="fs-1 fw-bolder text-center text-shadow">Register for our Free <br />7-Day Trail now!</p>
          <!--check input-->
          <div class="d-flex flex-row justify-content-evenly">
            <div class="form-check fw-bold">
              <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                No credit requierd
              </label>
            </div>
            <div class="form-check fw-bold">
              <input class="form-check-input" type="checkbox" id="flexCheckDefault2">
              <label class="form-check-label" for="flexCheckDefault2">
                Cancel anytime
              </label>
            </div>
          </div>
          <!--Subscrib input-->
          <div class="d-flex flex-row justify-content-center my-5">
            <div class="input-group mb-3 w-50 position-relative ">
              <input type="text" class="form-control rounded-pill shadow" placeholder="Enter your Email Address" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append ">
                <button class="btn btn-dark fw-bolder rounded-pill position-absolute end-0" type="button">Subscribe Now</button>
              </div>
            </div>
          </div>
        </div>
         <!--End Body-->