@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
  <link rel="stylesheet" href="./css/Styles/indexStyle.css">
}
<partial name="_Poster"/>

<div class="p-5 m-5">
  <p class="text-center">user login: @User.Identity.IsAuthenticated</p>
</div>

<div class="container my-5">
          <div class="d-flex flex-row justify-content-around col-12">
          <!--Start Slider-->
            <div class="col-12 col-md-7 p-md-2  ">
  <div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"  aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="active"  aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item ">
      <img src="./Images/image_processing20220602-20344-1u2y6o4.png" class="d-block w-100 rounded-5" alt="...">
    </div>
    <div class="carousel-item active">
      <img src="./Images/4K-Anime-Wallpaper-Desktop-1.jpg" class="d-block w-100 rounded-5" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./Images/anime-wallpaper-hd-02.jpg" class="d-block w-100 rounded-5" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
            </div>
            <!--End Slider-->
          <!-- Start Top Card-->
        <div class="col-md-4 d-none d-md-block">
      <!--car one-->
        <div class="card mb-1 col-12" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="./Images/Product/Shoes.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
        </div>
        <!--card two-->
          <div class="card mb-1 col-12">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="./Images/Product/Shoes.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
          </div>
        </div>
          <!-- End Top Card-->
          </div>
        <!--main Start-->
          <main >
            <!--Start Filter Product-->
          <div class="d-none d-md-flex flex-row fw-bolder justify-content-evenly">
            <p class="pt-1">
              New Product 
            </p>
            <hr style="height: 3px; background-color: aqua; width: 75%;">
            <ul class="d-flex flex-row">
              <li class="fw-bolder me-2 txt">all </li>
              <li class="fw-bolder me-2 txt">item1 </li>
              <li class="fw-bolder txt">item2 </li>
            </ul>
          </div>
          <!--End Filter Product-->
     <div class="mt-4 mt-md-0"></div>
          <div>
              <div id="product1" class="d-flex flex-column flex-md-row justify-content-around mb-md-3">
                    <div class="card col-md-3 my-2 my-md-0">
                      <img  src="./Images/Product/71d5fMDvq9L._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
                       <div class="card-body">
                         <h5 class="card-title">Card title</h5>
                         <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, ut.</p>
                           <span class="text-black-50 d-flex flex-row justify-content-between">50000.12$ <small class="badge rounded-pill bg-danger"> off</small></span>
                       </div>
                    </div>
                  <div class="card col-md-3 my-2 my-md-0">
                      <img  src="./Images/Product/71d5fMDvq9L._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, ut.</p>
                          <span class="text-black-50  d-flex flex-row justify-content-between">50000.12$ <small class="badge rounded-pill bg-danger"> off</small></span>
                      </div>
                  </div>
                  <div class="card col-md-3 my-2 my-md-0">
                    <img  src="./Images/Product/71d5fMDvq9L._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, ut.</p>
                        <span class="text-black-50  d-flex flex-row justify-content-between">50000.12$ <small class="badge rounded-pill bg-danger"> off</small></span>
                    </div>
                  </div>
                </div>

                <div id="product2" class="d-flex flex-column flex-md-row justify-content-around mb-md-3">
                  <div class="card col-md-3 my-2 my-md-0">
                      <img  src="./Images/Product/71d5fMDvq9L._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, ut.</p>
                          <span class="text-black-50 d-flex flex-row justify-content-between">50000.12$ <small class="badge rounded-pill bg-danger"> off</small></span>
                      </div>
                    </div>
                  <div class="card col-md-3 my-2 my-md-0">
                        <img  src="./Images/Product/71d5fMDvq9L._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, ut.</p>
                            <span class="text-black-50  d-flex flex-row justify-content-between">50000.12$ <small class="badge rounded-pill bg-danger"> off</small></span>
                        </div>
                  </div>
                  <div class="card col-md-3 my-2 my-md-0">
                        <img  src="./Images/Product/71d5fMDvq9L._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, ut.</p>
                            <span class="text-black-50  d-flex flex-row justify-content-between">50000.12$ <small class="badge rounded-pill bg-danger"> off</small></span>
                        </div>
                  </div>
                </div>
          </div>
          </main>
     </div>