
<!--Poster start-->
<div class="position-relative container d-none d-lg-block ">
    <img src="./Images/icons/woman.jpg" alt="" class="w-100  rounded-3">
    <div class="position-absolute end-50 bottom-50">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
            Doloremque recusandae, incidunt dolor minima iste labore <br>
            , distinctio possimus reprehenderit ipsum sunt tenetur <br>
            ut atque alias officiis saepe earum quo voluptatum modi?
        </p>
        <div class="d-flex flex-row justify-content-center">
            <a href="" class="btn btn-primary px-3 rounded-pill">Submit</a>
        </div>
    </div>
</div>
<!--Poster End-->