
     <header>
      <div id="header" class="p-3 text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
      
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a asp-controller="Home" asp-action="Index" class="nav-link px-2 text-secondary">Home</a></li>
              <li><a  class="nav-link px-2 text-white">Products</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
              <li><a asp-controller="Article" asp-action="FAQS" class="nav-link px-2 text-white">FAQs</a></li>
              <li><a asp-controller="Home" asp-action="AboutUs" class="nav-link px-2 text-white">About</a></li>
              @if (User.Identity.IsAuthenticated)
              {
                <li><a asp-area="Admin" asp-controller="Home" asp-action="index" class="nav-link px-2 text-white">Admin</a></li>
              }
            </ul>
      
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 d-flex flex-row">
              <div class="input-group ">
                <input type="text" class="form-control" placeholder="Please Type for Search" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fa fa-search" aria-hidden="true"></i></button>
              </div>
            </form>
      @if (User.Identity.IsAuthenticated)
      {
        <div class="d-flex flex-row justify-content-center btn btn-warning">
          <a asp-controller="Account" asp-action="Logout" 
             type="button" class="me-3 text-black text-decoration-underline" >Log out</a>
        </div>
      }
      else
      {
        <div class="d-flex flex-row justify-content-center btn btn-warning">
          <a asp-controller="Account" asp-action="Login" type="button" class="me-3 text-black text-decoration-underline" >Login</a>
          <a asp-controller="Account" asp-action="Register" type="button" class="text-black">Sign-up</a>
        </div>
      }
          
          </div>
        </div>
      </div>
     
     </header>