<footer>
      <div class="row mx-0">
        <div class="col-xl-10 col-lg-9 col-md-8 mr-auto">
          <div class="row border-top pt-3 ">
            <div class="col-lg-6 text-center">
              <ul class="list-inline">
                <li class="list-inline-item ml-2">
                  <a href="#" class="text-dark text-decoration-none ahover ">
                    ایده های ناب
                  </a>
                </li>
                <li class="list-inline-item ml-2">
                  <a href="#" class="text-dark text-decoration-none ahover ">
                    درباره ما
                  </a>
                </li>
                <li class="list-inline-item ml-2">
                  <a href="#" class="text-dark text-decoration-none ahover ">
                    پشتیبانی
                  </a>
                </li>
                <li class="list-inline-item ml-2">
                  <a href="#" class="text-dark  text-decoration-none ahover">
                    بلاگ
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6 text-center">
              <p>&copy; 2019 CopyRight. طراحی شده توسط:
                <i class="fas fa-heart text-danger "></i>
                <span class="text-success">ایده های ناب</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>